/* ============= CONTENT ===================================== */


#content {
    border-radius: 10px;
    -moz-border-radius: 10px;
    background: #f7f2dd;
	float: right;
	width: 54em;
	padding: 1em 0;
	/*color:#f7f2dd;*/
	}
	
