html{ overflow-y:scroll; }  /* prevent firefox scrollbar jump */

body {
    color:#222;
    font:100%/100% "Lucida Grande", Lucida, Verdana, Helvetica, sans-serif;
    margin:0em auto;
    padding:0;
    background-color: #2e6d8e;
    background-image: url(img/back.jpg);
    background-position:center top; 
    background-repeat:no-repeat;
    }

/* ========== Header first headline ============================ */

body h1 {
    color:#f7f2dd;
    font: bold 1.6em Helvetica, Verdana;
    letter-spacing:0.4em;
    margin:1em auto 0.2em auto;
    text-align:center;
    width:80%;
    } 

/* ========== Header second headline =========================== */

body h2 {
    color:#888;
    text-align:center;
    font: 1em/1.3 "Lucida Grande", Lucida, Verdana, Helvetica, sans-serif;
    letter-spacing:0.1em;
    margin:0em auto 1em auto;
    }

body h3 {
    font:1.3em/100% "Lucida Grande", Lucida, Verdana, Helvetica, sans-serif;;
    font-style:italic;margin:0.2em 0 0 0.4em;
    }
    
body h4 {
    margin-left: 0.6em;
    font: 1.2em/1.3 "Lucida Grande", Lucida, Verdana, Helvetica, sans-serif;
    font-style:bold;
    }

/*body li{float:left;margin:1.5em 1em 0 0;}*/

body em {
    font-style: italic;
    }

body a {
    color: #333366;
    font: Verdana;
    }

body cite {
    display: block;
    font-size: 0.8em;
    font-variant: normal;
    text-align: right;
    text-transform: capitalize;
    font-style: italic;
    }

/*body code{font:1em/133% "courier new",courier,monospace;}*/

body div.headline {
    margin:0 auto 3em;
    width:80em;
}


/* ============= NAVIGATION ====================================== */

#nav {
    -moz-border-radius: 10px;
    border-radius: 10px;
	float: left;
	width: 100%;
	margin: 0;
	padding: 0em 0em 0em 0em;
	list-style: none;
	background: #246688; 
    border-color:#5A8550;
    border-style:dotted;
    border-width:0px 0;
    font: 0.9em/1.3em Verdana, Helvetica, sans-serif;
    letter-spacing:0.2em;
	}

#nav li {
/*	float: left;*/
	margin: 1px 1px 1px 0;
	padding: 0;
	}

#nav li.last {
     float:right;
}

#nav a {
    -moz-border-radius: 10px;
    border-radius: 10px;
	float: left;
	display: block;
	margin: 0;
	padding: 1em 2em;
	color: #f7f2dd;
	text-decoration: none;
	border-bottom: none;
/*	background: #fff; */
	}

#nav a:hover {
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #184d68;
	background: #dfe8ee;
    text-decoration: underline;
	}
	
#nav a:focus {
    -moz-border-radius: 10px;
    border-radius: 10px;
    color:#fff;
    background:#184d68;
}

#nav a: {
    -moz-border-radius: 10px;
    border-radius: 10px;
    color:#fff;
    background:#184d68;
}
     
    #home #nav-home a,
    #download #nav-download a,
    #gettingstarted #nav-gettingstarted a,
    #examples #nav-examples a,
    #documentation #nav-documentation a,
    #links #nav-links a {
    /* declarations to style the current state */
    color: #f7f2dd;
    background:#184d68;
    }
    
    body#intro #nav-home a {
    color: #f7f2dd;
    background:#184d68;
    }

/* ============= Wrap ======================================== */

#wrap {
	width: 80em;
	margin: 3em auto;
	padding: 1em;
	}

/* ============= CONTENT ===================================== */


#content {
   /* background: #f7f2dd;*/
	float: right;
	width: 56em;
	padding: 0;
	padding-bottom: 1em;
	/*color:#f7f2dd;*/
	}

#content p.p1{
    font:1em Helvetica, Verdana;
    text-indent:0em;
    margin: 0;
    padding:10px 45px 10px 26px;
    line-height:1.6em;
	}

#content p {
    font:1em Helvetica, Verdana;
    text-indent:1.5em;
    margin: 0;
    padding:10px 45px 10px 26px;
    line-height:1.6em;
	}

#content p.plink {
    font:1em Helvetica, Verdana;
    text-indent:0em;
    margin: 0;
    padding:10px 45px 10px 26px;
    line-height:1.6em;
	}

#content p.p1:first-letter {
	font-size: 160%;
	font-weight: bold;
	color: #444444;	
	}


#content p.questioner {
    font-size: 100%;
	font-weight: normal;
    text-indent: 3em;
    font:0.9em Tahoma;
    margin: 0;
    padding:5px 25px 2px 16px
    }

#content p.questioner:first-letter {
    font-size: 100%;
	font-weight: normal;
    }

#content a {
	color: #333366;
    font: Verdana;
	}


/* ========== SIDEBAR =========================================== */


#sidebar {
    -moz-border-radius: 10px;
    border-radius: 10px;
  	float: left;
  	width: 24em;
  	padding: 1em 0;
	padding-bottom: 0em;
  	background: #dfe8ee;
  	}
  	
#sidebar a.image {
	color:#fff;
	}

#sidebar a {
	/*color: #333355;*/
    font: Verdana;
	}

#sidebar p {
    color: #222;
    font-size: 0.72em;
    font: Verdana;
}

  
/* ============ FOOTER ========================================= */

#footer {
    -moz-border-radius: 10px;
    border-radius: 10px;
	clear: both;
    font: 85%/100% Helvetica;
	padding: 0.2em;
	text-align: center;
	color: #dfe8ee;
	background: #184d68;
	}

#footer a {
    color: #f7f2dd;
    text-decoration: none;
    }

/* ============ Kwicks ========================================= */
.kwicks {  
    list-style: none;  
    position: relative;  
    margin: 0;  
    padding: 0;  
}  
.kwicks li{  
    display: block;  
    overflow: hidden;  
    padding: 0;  
    cursor: pointer;  
}  

    .kwicks li {  
        float: left;  
        width: 62px;  
        height: 40px;  
    }  
    .kwicks .kwicks_inner {  
        width: 200px;  
    }  
    .kwicks .bigLetter {  
        text-shadow: #000 2px 6px 6px;
        font: 85%/100% Helvetica;
        font-size: 24px;  
        width: 30px;  
        height: 100px;  
        color: #dfe8ee;  
        float: left;  
    }  
    .kwicks .smallLetters {  
        display: none;  
        text-align: left;  
        width: 130px;  
        color: #ccc;  
        font-size: 15px;  
        margin-top: 6px;  
        float: left;  
    }  
    .kwicks li.active .smallLetters {  
        display: block;  
    }
    


