/* ============= CONTENT ===================================== */


#sidebar h2 {
    padding-left: 1em;
    padding-right: 1em;
}

#sidebar ul{
    list-style: none;
	padding: 1em 0;
	color:#222;
	font-size: 0.88em;
	font: Helvetica;
	font-style: bold;
	margin-left: 1.3em;
	}
	
#sidebar ul.sub{
    color:#444;
    list-style: none;
	font-style: normal;
}

#sidebar a {
    color: #444;
    text-decoration: none;
}

#sidebar a:hover {
    color: #000;
    text-decoration: underline;
}
