<div class="hero-unit">
	<h2>
		<a href="http://en.wikipedia.org/wiki/Traffic_flow">Traffic flow dynamics</a>
	</h2>
	<p class="lead">
		MovSim is a
		<a href="http://en.wikipedia.org/wiki/Car-following_model">microscopic</a>
		lane-based traffic simulator. The simulator implements various
		<a href="http://en.wikipedia.org/wiki/Car-following_model">car-following models</a>
		of different model categories like time-continuous models, iterated maps and cellular automata. 
		MovSim is providing reference implementations for the models described in the 
		textbook <a href="www.traffic-flow-dynamics.org">"Traffic Flow Dynamics"</a>. 
		It is formost intended as a tool for model investigation and simulation.
	</p>

		<p>
			However, MovSim will aim at modeling and simulating
			all basic traffic situations and discrete decision like lane changes, reacting to a traffic light, 
			yielding and overtaking on rural roads in a generic way and therefore applicable to the implemented models.
			Lane changes are modeled with the general <a href="www.akesting.de/download/MOBIL_TRR_2007.pdf">MOBIL strategy</a> based on accelerations. This concept is extendable to other decisions.
		</p>
		
		<p>
			Movsim can not only used for simulating road traffic. Recently, we added a microscopic model for cross-country skiing.
		</p>

		<p>
			MovSim can be run from commandline or with a graphical user interface including visualization. Several output quantities can be written to file for further analysis. MovSim also provides a physics-based fuel-consumption model to calculate consumption on an individual or collective level.
		</p>

		<p>
			MovSim has been initiated by
			<a href="http://www.akesting.de">Arne Kesting</a>
			in June 2011. Further contributors are
			<a href="https://github.com/martinbudden Martin Budden">Martin Budden</a>,
			<a href="http://www.ralphgerm.de">Ralph Germ</a> and
			<a href="http://mtreiber.de">Martin Treiber</a>.
		</p>

		<p>
			MovSim is an open-source project licensed under the
			<a href="http://www.gnu.org/licenses/gpl.html">GPLv3</a>. The software is written in
			<a href="http://en.wikipedia.org/wiki/Java_%28programming_language%29">Java</a>
			and hosted on <a href="https://github.com/movsim/movsim">Github</a>. 
			We use <a href="http://maven.apache.org/">Maven</a> as build tool.
		</p>

		<!-- <img src="images/clover.png" class="img-rounded">--></div>
