<h4>Objective:</h4>
<p>Switch the routing recommendation to use the capacity
of the two roads optimally.
</p>

<p>Click anywhere on the green canvas to applay routing.</p>
<h4>What makes the game interesting:</h4>
<p>
Optimal routing is quite complex.
</p>
<h4>Externally given:</h4>
<p>
A fixed traffic demand curve with a "rush-hour" peak. The main road ("freeway") has a road works
bottleneck. At peak demand, the inflow exceeds the freeway
capacity. It is set such that only the best player should manage
to avoid all breakdowns. The capacity of the "village bottleneck"
is half the capacity of one freeway lane (or less).
<p>