<div  class="well sidebar-nav">

   <ul class="nav nav-list">
      <li class="nav-header">Games</li>
      <li class="active">
         <a href="#">Routing</a>
      </li>
      <li>
         <a href="#">Ramp metering</a>
      </li>
      <li class="nav-header">Building blocks</li>
      <li>
         <a href="#">Onramp</a>
      </li>
      <li>
         <a href="#">Offramp</a>
      </li>
      <li>
         <a href="#">Ring road</a>
      </li>
      <li>
         <a href="#">Cloverleaf</a>
      </li>
      <li>
         <a href="#">Speed limit</a>
      </li>
      <li>
         <a href="#">Lane closure</a>
      </li>
      <li>
         <a href="#">Tarffic light</a>
      </li>
      <li>
         <a href="#">Flow conserving bottleneck</a>
      </li>
   </ul>

</div>
<!--/.well -->