<div  class="well sidebar-nav">

  <ul class="nav nav-list">
    <li class="nav-header">Fact Sheet</li>
    <dl>
      <dt>Time-Continuous Models</dt>
      <dd>
        <li>
          <a href="http://en.wikipedia.org/wiki/Intelligent_driver_model">Intelligent Driver Model (IDM)</a>
        </li>
        <li>
          <a href="http://arxiv.org/abs/0912.3613">Improved IDM (ACC)</a>
        </li>
        <li>
          <a href="http://traffic.phys.cs.is.nagoya-u.ac.jp/~mstf/sample/ov_e.html">Optimal Velocity Model (OVM)</a>
        </li>
        <li>Full Velocity Difference Model (FVDM)</li>
      </dd>
    </dl>
    <dl>
      <dt>Iterated Maps</dt>
      <dd>
        <li>
          <a href="http://en.wikipedia.org/wiki/Gipps%27_Model">Gipps Model</a>
        </li>
        <li>Krauss Model</li>
      </dd>
    </dl>
    <dl>
      <dt>Cellular Automata</dt>
      <dd>
        <li>
          <a href="http://en.wikipedia.org/wiki/Nagel-Schreckenberg_model">Nagel-Schreckenberg Model (NaSch)</a>
        </li>
        <li>Improved Nagel-Schreckenberg Model (Barlovic)</li>
        <li>Kerner-Klenov-Wolf Model (KKW)</li>
      </dd>
    </dl>

    <dl>
      <dt>Behavioral components</dt>
      <dd>
        <li>
          <a href ="http://arxiv.org/abs/cond-mat/0304337">Driver's memory model</a>
        </li>
        <li>
          <a href ="http://arxiv.org/abs/physics/0508222">Acceleration noise</a>
        </li>
      </dt>
    </dl>

    <dl>
      <dt>Discrete decision models</dt>
      <dd>
        <li>
          <a href="http://www.akesting.de/download/MOBIL_TRR_2007.pdf">Lane change with MOBIL</a>
        </li>
        <li>
          <a href="http://arxiv.org/abs/0805.0300">Approaching traffic lights</a>
        </li>
        <!--    <li>Overtaking on rural roads</li>
      -->
    </dt>
  </dl>
  <dl>
    <dt>Road network</dt>
    <dd>
      <a href="http://www.opendrive.org">
        <li>OpenDRIVE format</a>
      </li>
    </dt>
  </dl>
  <dl>
    <dt>Output</dt>
    <dd>
      <li>
        <a href="http://www.springer.com/physics/complexity/book/978-3-642-32459-8">Fuel-consumption model</a>
      </li>
      <li>Cross section detectors</li>
      <li>Travel times</li>
      <li>Spatiotemporal contours</li>
    </dt>
  </dl>
</ul>

</div>
<!--/.well -->